services:
  xrd-1:
    xr_startup_cfg: xrd-1-startup.cfg
    xr_interfaces:
      - Gi0/0/0/0
      - Gi0/0/0/1
      - Gi0/0/0/2
      - Mg0/RP0/CPU0/0:
          snoop_v4: True
          snoop_v4_default_route: True
    networks:
      mgmt:
        ipv4_address: 10.10.20.175

networks:
  mgmt:
    xr_interfaces:
      - xrd-1:Mg0/RP0/CPU0/0
    ipam:
      config:
        - subnet: 10.10.20.0/24
          gateway: 10.10.20.254
    driver: macvlan
    driver_opts:
      parent: ens192
